*~
*.o
.deps
aclocal.m4
autom4te.cache
compile
config.log
config.status
config.guess
config.sub
config.h*
configure
depcomp
install-sh
libsunriset*
libtool
ltmain.sh
m4
missing
stamp-h1
sun
sunriset
tmp
Makefile
Makefile.in
GPATH
GRTAGS
GSYMS
GTAGS
ID
